<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta property="og:title" content="Trang build PC số 1 Việt Nam"/>
    <meta property="og:image" content="http://localhost:9000/koishi.png"/>
    
    <meta property="og:url" content="/build?id=<%= build_id %>"/>
    <meta property="og:site_name" content="Koishi Build PC"/>
    <meta property="og:description" content="
        <% if (build_name === null || build_name == '') { %>
            Build của <%= build_username %> # <%= build_id %>
        <% } else { %>
            <%= build_name %>
        <% } %>
    ">
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Trang build PC số 1 Việt Nam"/>
    <meta name="twitter:description" content="Trang build PC số 1 Việt Nam">
    <meta name="twitter:image" content="http://localhost:9000/koishi.png"/>

    <title>
        <% if (build_name === null || build_name == '') { %>
            Build của <%= build_username %> # <%= build_id %>
        <% } else { %>
            <%= build_name %>
        <% } %>
    </title>
    <link rel="shortcut icon" href="http://localhost:9000/koishi.png">

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />   

    <style>
    body{
        height: 100vh;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(to bottom, rgb(15 27 38), rgb(15 27 38));
    }

    ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 5px solid #3ca0e7;
        
        padding: 10px 30px 10px;
        
        text-decoration: none;
        text-align: center;
       
    }
    
    h3{
        margin:  20px
    }

    li a {
        color: aliceblue;
    }

    li a:hover {
        color: #3ca0e7;
    }

    li:hover {
        cursor: pointer;
    }

    .dropdown ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        margin: 0;
        display: none;
        background: rgb(26, 53, 66);
    }

    .dropdown a, .left_cell a {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .dropdown:hover> ul {
        visibility: visible;
        opacity: 1;
        display: block;
        
        text-align: left;
        
    }

    .select-button{
        padding: 5px;
        border-radius: 5px;
        margin-left: 20px;
        background-color: #1c86d1;
    }

    td, th{
        border-bottom: aliceblue 1px dashed;
        height: 140px;
        text-align: left;
    }

    select {
        width: fit-content;
        /* Reset Select */
        appearance: none;
        outline: 10px red;
        border: 0;
        border-radius: 5px;
        box-shadow: none;
        /* Personalize */
        flex: 1;
        padding: 10px;
        color: #fff;
        background-color: #2c3e50;
        background-image: none;
        cursor: pointer;
    }
    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

   

    


    a {
        text-decoration: none;
        color: aliceblue;
        cursor: pointer;
    }   

    #nav a:hover {
        color: rgb(0, 136, 255);
    }

    .left_cell{
        margin: 0 10px 0 10px;
        height: 100px;
    }

    .center{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }

    input{
        outline: none;
        width: 100%;
        color: aliceblue;
    }
    .effect-14:focus{color: black;}
    .effect-14{border: 0; padding: 7px 15px; position: relative; background: transparent; font-size:xxx-large; height: 100px }
    .effect-14 ~ .focus-bg:before,
    .effect-14 ~ .focus-bg:after{content: ""; position: absolute; left: 0; top: 0; width: 0; height: 0; background-color: #ededed; transition: 0.3s; z-index: -1;}
    .effect-14:focus ~ .focus-bg:before{transition: 0.3s; width: 50%; height: 100%;}
    .effect-14 ~ .focus-bg:after{left: auto; right: 0; top: auto; bottom: 0;}
    .effect-14:focus ~ .focus-bg:after{transition: 0.3s; width: 50%; height: 100%;}


    .tagify{
        width: 100%;
        border-radius: 5px;
        <% if (idcheck == 1 && username == build_username) { %>
            
        <% } else { %>
            border: none
        <% } %>
    }
    .tagify[readonly]:not(.tagify--mix):not(.tagify--select) .tagify__tag>div::before{
        animation: none
    }
    .tagify__input:focus:empty::before, .tagify__input::before{
        color: aliceblue
    }

    .button-8 {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    }

    .button-8:hover,
    .button-8:focus {
    background-color: #b3d3ea;
    color: #2c5777;
    }

    .button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    }

    .button-8:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
    }
    
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}

</style>

</head>

<body>
    <div class="snow-container"></div>
<div id="nav" style="height: 100px; display: flex; background-color: rgb(26, 53, 66); justify-content: space-between; position: relative; z-index: 2">
        <div style="display: flex; align-items: center;">
            <a href="/"><img src="http://localhost:9000/koishi.png" width="100" class="left_cell"></a>

            <div class="dropdown left_cell">
                <a href="#">PRODUCTS</a>
                <ul>
                    <li><a href="/component-select/cpu">CPU</a></li>
                    <li><a href="/component-select/mb">MOTHERBOARD</a></li>
                    <li><a href="/component-select/ram">RAM</a></li>
                    <li><a href="/component-select/vga">VGA</a></li>
                    <li><a href="/component-select/psu">PSU</a></li>
                    <li><a href="/component-select/cooler">CPU COOLER</a></li>
                    <li><a href="/component-select/storage">STORAGE</a></li>
                    <li><a href="/component-select/case">CASE</a></li>
                </ul>
            </div>
            
            <div class="left_cell"><a href="/guide">GUIDE</a></div>
            <div class="left_cell"><a href="/build_list_public">BUILDS</a></div>
        </div>

        <div style="display: flex; align-items: center;">
            <%- include('navbar') %>
        </div>

        
    </div>
    <% if (problems) { %>
        <div style="position: absolute;right: 0;margin: 20px;z-index: 2;" id="problems">
            <%- problems %>
        </div>
    <% } %>

    <div style="margin: 50px auto 100px auto; width: 70%; height: fit-content;top: 0;bottom: 0; display: flex; flex-direction: column; color: aliceblue; padding-bottom: 200px;">
        <% if (idcheck == 1 && username == build_username) { %>
            <form action="/update-build-name" method="get" style="position: relative; width: 100%;">
                <input class="effect-14" type="text" name="name" placeholder="Nhập tên build" value=
                "<% if (build_name === null || build_name == '') { %>Build của <%= build_username %> # <%= build_id %><% } else { %><%= build_name %><% } %>"></input>
                <span class="focus-bg"></span>
                <input name="build" value="<%= build_id %>" style="display: none"></input>
                <button style="display: none"></button>
            </form>
        <% } else { %>
            <h1 style="text-align: center;">
                <% if (build_name === null || build_name == '') { %>Build của <%= build_username %> # <%= build_id %><% } else { %><%= build_name %><% } %>
            </h1>
        <% } %>
        
        

        
        <form action="/update-build-desc" method="get" style="position: relative; width: 100%;">
            <input name="build" value="<%= build_id %>" style="display: none"></input>
            <input id="desc" name="desc" placeholder="type description" 
                <% if (idcheck == 1 && username == build_username) { %>
                <% } else { %>
                    readonly
                <% } %>
            >
            
            <% if (idcheck == 1 && username == build_username) { %>
                <button class="button-8">Submit</button>
            <% } else { %>
            <% } %>
            
        </form>
        
        
        <table>

            <tr>
                <th><h3>Mainboard</h3></th>
                
                <td id="mb">
                    <% if (board_id != null) { %>
                        <a href="/component-select/mb?build=<%= build_id %>&id=<%=board_id%>" style="display: flex; align-items:center">
                
                        <img width=100 height=100 src="<%= mb_image%>">
                        <h3><%= mb_name %></h3>
                        <h3><%= mb_socket %></h3>
                        <h3><%= mb_price %></h3>
                    <% } %>
                    
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/mb?build=<%= build_id %>" class="select-button" id="select-mb">Select</a></td>
                <% } %>
            </tr>
            <tr>
                <th><h3>CPU</h3></th>
                <td id="cpu">
                    <% if (cpu_id != null) { %>
                        <a href="/component-select/cpu?build=<%= build_id %>&id=<%= cpu_id %>" style="display: flex; align-items:center">
                        <img width=100 height=100 src="<%= cpu_image %>">
                        <h3><%= cpu_name %></h3>
                        <h3><%= cpu_socket %></h3>
                        <h3><%= cpu_price %></h3>
                        </a>
                    <% } %>

                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/cpu?build=<%= build_id %>" class="select-button" id="select-cpu">Select</a></td>
                <% } %>
            </tr>
            <tr>
                <th><h3>VGA</h3></th>
                <td style="display: flex; align-items:center; justify-content: space-between" id="vga">
                    <% if (vga_id != null) { %>
                        <a href="/component-select/vga?build=<%= build_id %>&id=<%= vga_id %>" style="display: flex; align-items:center">
                        <img width=100 height=100 src="<%= vga_image %>">
                        <h3><%= vga_name %></h3>
                        <h3><%= vga_price %></h3>
                        </a>
                        <% if (idcheck == 1 && username == build_username) { %>
                            <a href="/delete-component/vga?build=<%= build_id %>"><span style="color: red">X</span></a>
                        <% } %>
                    <% } %>
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/vga?build=<%= build_id %>" class="select-button" id="select-vga">Select</a></td>
                <% } %>
            </tr>
            <tr>
                <th><h3>Memory</h3></th>
                <td id="ram">
                    <%- ram_decs %>
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/ram?build=<%= build_id %>" class="select-button" id="select-ram">Select</a></td>
                <% } %>               
            </tr>
            <tr>
                <th><h3>Storage</h3></th>
                <td id="storage">
                    <%- storage_decs %>
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/storage?build=<%= build_id %>" class="select-button" id="select-storage">Select</a></td>
                <% } %>
            </tr>
            <tr>
                <th><h3>PSU</h3></th>
                <td id="psu">
                    <% if (psu_id != null) { %>
                        <a href="/component-select/psu?build=<%= build_id %>&id=<%= psu_id %>" style="display: flex; align-items:center">
                            <img width=100 height=100 src="<%= psu_image %>">
                            <h3><%= psu_name %></h3>
                            <h3><%= psu_wattage %> W</h3>
                            <h3><%= psu_price %></h3>
                        </a>
                    <% } %>
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/psu?build=<%= build_id %>" class="select-button" id="select-psu">Select</a></td>
                <% } %>
            </tr>
            <tr>
            
                <th><h3>Cooler</h3></th>
                <td id="cooler">
                    <% if (cooler_id != null) { %>
                        <a href="/component-select/cooler?build=<%= build_id %>&id=<%= cooler_id %>" style="display: flex; align-items:center">
                            <img width=100 height=100 src="<%= cooler_image %>">
                            <h3><%= cooler_name %></h3>
                            <h3><%= cooler_price %></h3>
                        </a>
                    <% } %>
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/cooler?build=<%= build_id %>" class="select-button" id="select-cooler">Select</a></td>
                <% } %>
            
            </tr>
            <tr>
                <th><h3>Case</h3></th>
                <td id="case">
                    <% if (case_id != null) { %>
                        <a href="/component-select/case?build=<%= build_id %>&id=<%= case_id %>" style="display: flex; align-items:center">
                            <img width=100 height=100 src="<%= case_image %>">
                            <h3><%= case_name %></h3>
                            <h3><%= case_form %></h3>
                            <h3><%= case_price %></h3>
                        </a>
                    <% } %>
                </td>
                <% if (idcheck == 1 && username == build_username) { %>
                    <td><a href="/component-select/case?build=<%= build_id %>" class="select-button" id="select-case">Select</a></td>
                <% } %>
            </tr>
            
        </table>
        <br>
        <% if (idcheck == 1 && username == build_username) { %>
            <select onchange="location = this.value;" id="visibility-select">
            <option selected disable hidden><%= !status ? `Private` : `Public` %></option>
            <option value="/update-status?build=<%= build_id %>&status=1" id="visibility-select-public">Public</option>
            <option value="/update-status?build=<%= build_id %>&status=0" id="visibility-select-private">Private</option>
            </select>
            <a href="/delete-component/build?build=<%= build_id %>" onclick="return confirm('Bạn có muốn xóa build?');" style="color: red">Xóa build</a> 
        <% } %>
        
        <h3 style="text-align: right">Gợi ý nguồn tối thiểu: <%= minP %> W</h3>
        <h3 style="text-align: right">Tổng giá: <%= totalPrice %>
        </h3>
    </div>
    
</body>

<script>
    const input = document.querySelector('#desc')
    var tagify = new Tagify(input, {
        texts: {duplicate: "Duplicates are not allowed"},
        delimiters          : "ÆĶ",
        dropdown: {
            enabled: 0
        },
        whitelist: <%- desc_whitelist%>
    })

    tagify.on('change', console.log)

    tagify.addTags(<%- descs %>)
</script>
</html>